/*Hides the Pronunciation Recording Toolbaar when Recording is not supported by the browser.*/

.mw-pronunciationrecording-toolbar {
	display: none;
}

.mw-pronunciationrecording-information-word {
	margin-left: 10em;
	width: 18.3em;
}

.mw-pronunciationrecording-information-language {
	margin-left: 8em;
}

.mw-pronunciationrecording-information-license-cc-by-sa{
	margin-top: 0.5em;
	margin-left: 1.5em;
}

